<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Analiza</title>
  <link real="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<main class="container"><h1>Wróć</h1>
  <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px" >

    <a href="/">Strona Główna</a>
  </nav>


</main>
</body>
<head>
    <form id='video_path'>
        <label for="video_path"> Wprowadz link do wideo</label>
        <input type="url" id="videoLink"  name="videoLink" required>
        <button type="submit"> Wyślij</button>


    </form>

</head>
<body>




</body>
</html>