<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link real="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {background-image: url("/static/photo/66780152-muzyczne-futurystyczne-tło-kaseta-magnetofonowa-na-planecie-ziemia-tęcza-retro-muzyka-wektor.jpg");
        background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;
        }
    </style>
    <div  style="display: grid;place-items: center; height: 17vh;  ">
        <a><h1 style="font-size: 3.5rem;"> Strona główna</h1></a></div>>

</head>
<body>
<div  style="display: grid;place-items: center; height: 17vh; margin: 3; margin-top:50px;">
    <a href='czek/' style="display: block; padding: 1px; margin: 10px; border: 1px solid #33; border-radius: 100px; background-color: #f0f0f0; text-align: center; width: 250px;  text-decoration: none;">
        <h1> Przejć do analizy</h1> </a></div>
<div style="display: grid;place-items: center; height: 17vh; margin: 3;">
    <a href="obróbka/" style="display: block; padding: 1px; margin: 10px; border: 1px solid #33; border-radius: 100px; background-color: #f0f0f0; text-align: center; width: 250px;  text-decoration: none;">
        <h1> Przejć do obróbki wideo</h1></a></div>

</body>
</html>